<div class="field">
  <label>Title</label>
  <div class="ui input">
    {{input value=model.title}}
  </div>
</div>
<div class="field">
  <label>Fuel</label>
  <div class="ui input">
    {{input value=model.fuel}}
  </div>
</div>
<div class="field">
  <label>Price</label>
  <div class="ui input">
    {{input type="number" value=model.price}}
  </div>
</div>
<div class="field">
  <label>New</label>
  <div class="ui input">
    {{input type="checkbox" checked=model.newIs}}
  </div>
</div>
<div class="field">
  <label>Mileage</label>
  <div class="ui input">
    {{#if model.newIs}}
      {{input type="number" disabled=model.newIs value=""}}
    {{else}}
      {{input type="number" disabled=model.newIs value=model.mileage}}
    {{/if}}
  </div>
</div>
<div class="field">
  <label>First Registration</label>
  <div class="ui input">
    {{input type="date" value=model.firstRegistration disabled=model.newIs}}
  </div>
</div>