<div class="ui segment">
  <table class="ui table">
    <thead>
      <th>Title</th>
      <th>Fuel</th>
      <th>Price</th>
      <th>New</th>
      <th>Mileage</th>
      <th>First Registration</th>
      <th></th>
    </thead>
    <tbody>
      {{#each model as |advert|}}
        <tr>
          <td>{{advert.title}}</td>
          <td>{{advert.fuel}}</td>
          <td>{{advert.price}}</td>
          <td>{{advert.newIs}}</td>
          <td>{{advert.mileage}}</td>
          <td>{{advert.firstRegistration}}</td>
          <td>
            {{#link-to "edit" advert.id}}
              <button class="ui button">Edit</button>
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>